In [1]:
from huntlib import sumologic
from datetime import datetime, timedelta

In [2]:
_sumo_url = "https://api.us2.sumologic.com/api"
# Recommended to put constants and credentials in ~/.huntlibrc (without quotes)
#[sumologic]
#accessid = xxx
#accesskey = xxx

# or inline here (with quotes) + as argument in SumologicDF()
#_sumo_accessid = "xxx"
#_sumo_accesskey = "xxx"

In [3]:
e = sumologic.SumologicDF(
        url=_sumo_url
#        accessid=_sumo_accessid,
#        accesskey=_sumo_accesskey,
    )

In [4]:
results = e.search("* | count _sourceCategory", days=0.0001)

DONE GATHERING RESULTS

In [5]:
results

[{'map': {'_count': '591', '_sourcecategory': 'CAT1'}},
 {'map': {'_count': '1', '_sourcecategory': 'CAT2'}},
 {'map': {'_count': '457', '_sourcecategory': 'CAT3'}},
 {'map': {'_count': '51', '_sourcecategory': 'CAT4'}}]

In [6]:
results_df = e.search_df("* | count _sourceCategory", days=0.0001)

DONE GATHERING RESULTS

In [7]:
results_df

   map._count                 map._sourcecategory
0         625                                CAT1
1         532                                CAT2
2           5                                CAT3
4          25                                CAT4

In [8]:
results_df2 = e.search_df("_index=WINDOWS | count _sourceCategory,hostname",
                start_time=datetime.now() - timedelta(days=6.001),
                end_time=datetime.now() - timedelta(days=6)
                        )

DONE GATHERING RESULTS

In [9]:
results_df2

                             map.hostname map._count     map._sourcecategory
0                                   host1          1                 WINDOWS
1                                   host2         16                 WINDOWS
2                                   host3         65                 WINDOWS
3                                   host4          8                 WINDOWS

[4 rows x 3 columns]

In [10]:
results_df3 = e.search_df("_index=WINDOWS | count _sourceCategory,hostname",
                start_time=datetime.now() - timedelta(days=6.001),
                end_time=datetime.now() - timedelta(days=6),
                export=True,
                export_path="test.xlsx"
                        )

DONE GATHERING RESULTS

In [11]:
results_df3

                             map.hostname map._count     map._sourcecategory
0                                   host1          1                 WINDOWS
1                                   host2         16                 WINDOWS
2                                   host3         65                 WINDOWS
3                                   host4          8                 WINDOWS

[4 rows x 3 columns]

In [12]:
results_df4 = e.search_df("_index=WINDOWS |count _sourceCategory,hostname",
                start_time=datetime.now() - timedelta(days=6.001),
                end_time=datetime.now() - timedelta(days=6),
                normalize=False
                        )

DONE GATHERING RESULTS

In [13]:
results_df4

In [14]:
results_df5 = e.search_df("_index=WINDOWS",
                start_time=datetime.now() - timedelta(days=6.001),
                end_time=datetime.now() - timedelta(days=6),
                limit=10
                        )

DONE GATHERING RESULTS

In [15]:
results_df5